.container__nav-bar{
  display: flex;
  flex-direction: row;
  padding: 1rem;
}

.nav-bar__left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  width: 70%;
}

.nav-bar__left > img {
  width: 100%;
  max-width: 2.5rem;
  min-width: 2.5rem;
}

.left__text {
  display: flex;
  width: 100%;
}

.left__text > ul {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.left__text > ul > li {
  list-style: none;
}

.left__text > ul > li > a {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.875rem;
  color: gray;
  text-decoration: none;
  transition: 0.5s all;
}

.left__text > ul > li > a:hover {
  color: white;
}

.nav-bar__rigth {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  width: 30%;
}

.nav-bar__rigth > a > img {
  width: 100%;
  max-width: 1.875rem;
  min-width: 1.875rem;
  transition: 0.4s all;
}

.nav-bar__rigth > a > img:hover {
  width: 100%;
  max-width: 2rem;
  min-width: 2rem;
}
